img {
  margin-bottom: 2em
}

.btn {
  margin: 1em
}

.card {
  margin-top: 2em
}

.home-link{
  display: block;
  text-align: center;
  margin-top: 2em;
}

.guessed-letters:after {
  display: block;
  background-color: #ffb206;
  height: 2px;
  width: 20%;
  margin: auto;
  content: " ";
}

span {
  margin-left: 1em;
}

.hangman-image {
  width: 200px;
  height: auto;
}